<section ng-controller="UserController">
	<h1>Basic Form - basic validation, nothing too heavy - binding included</h1>
	
	<form name="myForm" ng-submit="saveUser(myForm.$valid)" novalidate>
		
		<label>First Name:</label>
		<input type="text" name="firstname" ng-model="user.firstname" ng-required="true" ng-minlength="2" ng-model-options="{updateOn: 'default blur mousedown'}" />
		<p>{{user.firstname}}</p>
		<span class="error-message" ng-show="myform.firstname.$dirty && myform.firstname.$error.required">Required Field</span>
		<span class="error-message" ng-show="myform.firstname.$dirty && myform.firstname.$error.minlength"> Minimum 2 characters</span>
		
		<label>Last Name:</label>
		<input type="text" name="lastname" ng-model="user.lastname" ng-required="true" ng-minlength="2" />
		<p>{{user.lastname}}</p>
		<span class="error-message" ng-show="myform.lastname.$dirty && myform.lastname.$error.required">Required Field</span>
		<span class="error-message" ng-show="myform.lastname.$dirty && myform.lastname.$error.minlength"> Minimum 2 characters</span>
		
		<label>Ph #:</label>
		<input type="text" name="phoneNumber" ng-model="user.phoneNumber" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/" />
		<span class="eror-message" ng-show="myform.phoneNumber.$dirty && myform.phoneNumber.$invalid">10 digits required</span>
		
		<textarea name="bio" ng-model="user.bio"></textarea><p>{{user.bio}}</p>
		<select name="country" ng-model="user.country" ng-options="country as country.desc for country in countries">
			<option value="">Select Option</option>
		</select><br />
		<select multiple name="country" ng-model="user.country" ng-options="country as country.desc for country in countries">
			<option value="">Select Option</option>
		</select><br />
		<input type="radio" ng-model="user.choice" value="coffee" />
		<input type="radio" ng-model="user.choice" value="beer" />
		<p>I love: {{user.choice}}</p>
		<input type="checkbox" ng-model="user.pick" ng-true-value="yes" ng-false-value="no" />
		<p>{{user.pick}}</p>

		<input type="submit" value="save" />
	</form>
</section>